<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669161674578-te0saaevjmbk7v7se3cd6as0oltq57pk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669161674578-te0saaevjmbk7v7se3cd6as0oltq57pk</string>
	<key>API_KEY</key>
	<string>AIzaSyC3WrZmQJEErc18vyGyqUUe6LTaeLaIcrw</string>
	<key>GCM_SENDER_ID</key>
	<string>669161674578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fyp.ckfyp02</string>
	<key>PROJECT_ID</key>
	<string>ck-fyp02</string>
	<key>STORAGE_BUCKET</key>
	<string>ck-fyp02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669161674578:ios:989ff1b0cacbfaf8748c8b</string>
</dict>
</plist>